footer {
    padding: 5px;
    text-align: center;
    background-color:  rgb(80, 102, 43);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 30px
}