

<section>
    <h2>Accueil</h2>
    <div>
        <label for="input-nom">Quel est votre nom?</label><br>
        <input id="input-nom" type="text" [(ngModel)]="username">
        <p>Bienvenue sur notre site {{ username }} ! </p>
    </div>

    <div>
        <h3>Histoire du restaurant</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero repudiandae sit, illum recusandae ut, esse provident aliquam dicta quo velit delectus veritatis exercitationem. Commodi est culpa, consequatur dolore sequi aspernatur!</p>
    </div>

    <div>
        <h3>Histoire du propriétaire</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta veniam repellat maxime possimus, similique pariatur expedita quod voluptas architecto! Sunt molestias consequuntur inventore ducimus commodi corrupti quisquam necessitatibus ex dignissimos.</p>
    </div>

    <button class="btn btn-info" (click)="onTest()">test cold obs</button>
</section>


